[2019-12-04 11:27] LiorBanai opened #1 "written fields (with attributes) are not adding the attribute attached to the fields"

[2019-12-04 14:34] LiorBanai opened #2 "Hdf5GroupName attribute is ignored during group creation"

[2019-12-05 11:48] LiorBanai opened #3 "Expose Flush API to flush all data to file without needing to close the file"

[2019-12-05 11:57] #2 closed

[2019-12-05 11:57] #3 closed

[2019-12-09 08:26] LiorBanai opened #4 "DateTime type is written to the H5 File as Ticks value. Add option to use UnixTime"

[2019-12-09 08:46] LiorBanai opened #5 "add Support for DateTimeOffset type"

[2019-12-09 09:11] LiorBanai commented on #5
DateTimeOffset  is of type DateTime

[2019-12-09 09:11] #5 closed

[2019-12-09 09:19] #4 closed

[2019-12-10 14:24] LiorBanai opened #6 "add option to set all entries with lower case naming"

[2019-12-10 15:02] LiorBanai opened #7 "convert unit tests project to .net standard"

[2019-12-10 15:03] #6 closed

[2019-12-10 15:03] #7 closed

[2019-12-10 15:04] LiorBanai commented on #7
Fixed

[2019-12-11 09:04] LiorBanai opened #8 "Add Hdf5EntryName Attribute to override name of properties/fields in the hdf5 file"

[2019-12-11 09:40] #8 closed

[2019-12-12 12:19] LiorBanai opened #10 "not all code paths usage the low case naming settings"

[2019-12-12 12:22] #10 closed

[2019-12-12 12:23] LiorBanai opened #11 "release nuget package with fix #10"

[2019-12-12 12:43] LiorBanai opened #12 "add unit tests to check lower naming settings"

[2019-12-12 13:09] #12 closed

[2019-12-12 13:14] LiorBanai commented on #11
Hdf5DotnetWrapper.1.0.3.nupkg released

[2019-12-12 13:14] #11 closed

[2019-12-19 09:10] #1 closed

[2019-12-19 09:15] LiorBanai opened #13 "release nuget package for V1.0.4"

[2019-12-19 09:25] LiorBanai commented on #13
Released

[2019-12-19 09:25] #13 closed

[2019-12-26 18:03] LiorBanai opened #14 "Update read back H5 files API to support all latest changes"

[2019-12-30 09:03] LiorBanai opened #15 "Add Source Link To Project"
Add SourceLink To Project

[2019-12-30 10:39] #15 closed

[2020-01-21 09:27] LiorBanai opened #16 "Add logging framework"
bb

[2020-01-21 09:28] LiorBanai opened #17 "Add logging framework"
bb

[2020-01-21 09:31] LiorBanai commented on #17
duplicate issue

[2020-01-21 09:31] #17 closed

[2020-01-29 15:22] LiorBanai opened #19 "Set up CI with Azure Pipelines"

[2020-01-29 16:23] LiorBanai commented on #19
added

[2020-01-29 16:23] #19 closed

[2020-03-16 15:01] LiorBanai opened #22 "Create Generic HDF5 Viewer"

[2020-03-17 14:27] #14 closed

[2020-03-17 14:27] #16 closed

[2020-03-19 18:34] LiorBanai opened #23 "ReadObject<> fails To read inner arrays"

[2020-03-19 19:17] #23 closed

[2020-03-22 11:31] LiorBanai opened #24 "Add support for backward and forward compatibility"
if a column/field is remove or added handled correctly the reading back of an old H5 file

[2020-03-22 12:29] #24 closed

[2020-03-26 10:58] sharpwood opened #25 "WriteCompounds error"
HDF5-DIAG: Error detected in HDF5 (1.10.5) thread 852280:
  #000: C:\projects\hdf5\src\H5Tcompound.c line 350 in H5Tinsert(): not a datatype
    major: Invalid arguments to routine
    minor: Inappropriate type

[2020-03-26 11:01] sharpwood commented on #25
https://github.com/reyntjesr/Hdf5DotnetTools/issues/6

[2020-03-26 16:20] LiorBanai commented on #25
What is your configuration?. Net framework /. Net core x64/86?

[2020-03-26 22:51] sharpwood commented on #25
.net core 3.1 x64

[2020-03-27 15:02] xorxx opened #26 "Compatibility issue with Octave"
We wrote a HDF5 file with DotnetWapper but reading this file in octave failed. Error message in Octave was:
[code]

Any hint what is going wrong?

Thanks!

[2020-03-27 15:31] LiorBanai commented on #26
Hi,
Which version of Hdf5DotnetWrapper are you using?
can you share example of the code you are using to write the dataset that is problematic?
is the data viewable in hdfview?

[2020-03-27 15:33] LiorBanai commented on #26
btw,
it seems almost exactly like https://forum.hdfgroup.org/t/errors-comparing-two-h5-files/4028

[2020-03-27 15:39] LiorBanai commented on #25
Ok thanks.
I'll investigate.
beside the error are you able to work with the data or doe it broke the functionality?

[2020-03-27 15:43] xorxx commented on #26
We are using the current version of Hdf5DotnetWrapper. We will have a look on the file with hdfview. I am not the programmer so I have to ask for a code sample but I could share the problematic data file.
In the octave forum I found a hint that octave tends not to read foreign HDF5 files. This could also be a reason for our problem. But the message in hdfgroup forum looks in deed very similar to o

[2020-03-27 15:47] LiorBanai commented on #26
Ok good.
If you can share the file itself it will be great to further investigate this (unless there is sensitive data inside the file).

[2020-03-27 16:00] xorxx commented on #26
I just checked our file with the HDF5Viewer from HDFGroup and found no errors. This points clearly to a Problem on octave side as you can see in the [octave bug tracker issue 56148](https://savannah.gnu.org/bugs/index.php?56148)

[2020-03-27 21:17] LiorBanai opened #27 "Upgrade to V1.10.6 of HDF5"
version [1.10.6](https://portal.hdfgroup.org/display/support/HDF5+1.10.6) was released fe month ago with the following fixes and features:
https://portal.hdfgroup.org/display/support/HDF5%201.10.6#releasenotes

[2020-03-27 22:22] #27 closed

[2020-03-27 23:55] sharpwood commented on #25
I didn't find any problem with the function

[2020-03-28 09:24] LiorBanai commented on #26
It could be incompatible data types. I would try to check one by one which is problematic by creating the file in steps until the specific data type is found. Strings could also be an issue.

[2020-03-30 08:48] xorxx commented on #26
Thank you! I am closing this issue.

[2020-03-30 08:48] #26 closed

[2020-04-07 17:21] LiorBanai opened #34 "Replace .Open methods with .Exist to cleanup errors."
related to #25

[2020-04-07 18:24] LiorBanai commented on #25
I'm fixing all those errors and will release new version later this week. Thanks for reporting this.

[2020-04-08 08:53] LiorBanai opened #35 "Addability to log errors"
in order to log error use this code snippet:
[code]

[2020-04-08 08:56] #35 closed

[2020-04-08 08:56] #34 closed

[2020-04-08 10:55] #25 closed

[2020-04-08 18:09] LiorBanai commented on #22
Will be handled in dedicated repository

[2020-04-08 18:10] #22 closed

[2020-04-10 19:58] LiorBanai opened #36 "Add example C# project"

[2020-04-13 03:22] sharpwood opened #37 "Get all the compounds names"
I write a lot of compounds to the HDF5 file, but I don't know how to get all the compounds names

[2020-04-13 06:46] LiorBanai commented on #37
What kind of data do you need besides the elements names? I'm in the process of Adding ReadFileStructure(..) to the library.

[2020-04-13 07:08] LiorBanai commented on #37
also can you supply me example file (unless there are some sensitive data inside) to work on it and verify the structure is correct?

[2020-04-13 07:55] sharpwood commented on #37
My file is relatively simple. It's just composed of many components. I'm not familiar with HDF5, but use it as a compressed CSV container.

[2020-04-13 08:36] LiorBanai commented on #37
Ok, I'll have it in a few days. a Structure-like/file will still be useful

[2020-04-13 15:57] LiorBanai commented on #37
does this answer your needs?
[code]

![hdf5Structure](https://user-images.githubusercontent.com/36262995/79135753-82322400-7db8-11ea-91e2-b977190a5fd6.jpg)

[2020-04-13 22:55] sharpwood commented on #37
I think it's good

[2020-04-14 07:32] #36 closed

[2020-04-14 07:59] LiorBanai commented on #37
I have released new nuget package with those methods: https://www.nuget.org/packages/HDF5-CSharp/1.10.610.4

give it a try.
If you have same issues report back.

[2020-04-14 07:59] #37 closed

[2020-04-16 16:32] ChasenRanger opened #38 "Byte and SByte reversed"
https://github.com/LiorBanai/HDF5-CSharp/blob/2c4285e1cccd1ab2afc2b66c22d57ff81f920d20/HDF5-CSharp/Hdf5Common.cs#L112

Byte returns the type (signed) int8, signed byte returns the type uint8.

[2020-04-16 16:37] LiorBanai commented on #38
you are correct. Thanks for noticing and reporting this

[2020-04-16 16:48] #38 closed

[2020-04-16 16:52] LiorBanai commented on #38
you can update your nuget version to use 1.10.610.5:
https://www.nuget.org/packages/HDF5-CSharp/1.10.610.5

[2020-04-16 17:54] ChasenRanger opened #39 "File opened but never closed"
https://github.com/LiorBanai/HDF5-CSharp/blob/8c2ec400f9ea647636135e135004191a73a63746/HDF5-CSharp/Hdf5Reader.cs#L217

If the file exists, it is opened in Read Only mode to generate tree/flat preview. Thereafter, it is left open in memory, and the managed ID (long fileid) is lost when the method exits.

[2020-04-16 17:58] LiorBanai commented on #39
correct again :)

[2020-04-16 18:07] #39 closed

[2020-04-16 18:13] LiorBanai commented on #37
there was a small bug in the method: the file stay opened after reading.
you can update you nuget version to 1.10.610.6
https://www.nuget.org/packages/HDF5-CSharp/1.10.610.6

[2020-04-16 18:14] LiorBanai commented on #39
https://www.nuget.org/packages/HDF5-CSharp/1.10.610.6
:)

[2020-04-20 15:27] ChasenRanger opened #41 "WriteDatasetFromArray does nothing if dataset exists"
https://github.com/LiorBanai/HDF5-CSharp/blob/616adc9fe97c491c9a993f5e3724ad7ea7f2ebd4/HDF5-CSharp/Hdf5Dataset.cs#L196

The linked command attempts exclusively to _create_ the dataset. This means the below test fails to update int[] "blah":
[code]
This does not strike me as intentional, as "WriteDatasetFromArray<>" is called by most higher order commands such as "WriteObject", and you'd expect to

[2020-04-20 18:43] LiorBanai commented on #41
I tend to agree with you especially as your test stopped with exception during attempt to create again the dataset.

Logging debug message  that state that the dataset already exist before overriding it may also be usfeull

[2020-04-20 18:57] ChasenRanger commented on #41
With my VS settings it actually does not stop with an exception, it just prints the HDF5-DIAG errors and continues along as if nothing has happened. That may or may not be relevant, but I felt I should clarify.

It also occurred to me, I only tested the case of replacing the array with an array of the same size. I'm not sure if replacing with an array of different sizes matters in HDF, but (or per

[2020-04-20 19:06] LiorBanai commented on #41
Still, the end user may end up with inconsistent object/data in file and not know why.

it may be better to delete old datasets (if exist) before opening it for update and then recreate it. In this mode the memory should be reused for the data or free for other objects

[2020-04-20 21:47] ChasenRanger commented on #41
Agreed, it took some time to track it down for me, and I wasn't trying to change its type.

A DeleteDataset and/or OverwriteDataset (or overwrite mode/flag for WriteDataset) would be very useful as well.

[2020-04-21 14:50] LiorBanai commented on #41
yeah, OverrideExistingData is good option with a default of true since this is the most expected case when one updates object's data

[2020-04-21 17:31] ChasenRanger commented on #41
So, something like this?

[code]
I had it return early if it fails, but that might be worth an exception. Not sure.

[2020-04-21 17:38] LiorBanai commented on #41
yeah but it should be global setting for all data types (not only datasets).
The true/false should resides at Hdf5.Hdf5Settings class where all other settings are stored.

now that I think about it it also good to add ThrowOnError bool option there.

I plan to add those options this weekend probably.

[2020-04-21 17:40] ChasenRanger commented on #41
Sounds good. Looking forward to it.

[2020-04-24 11:50] LiorBanai opened #44 "Add ToJson/ConvertToJson method to parse existing H5 file"
Add a top level method to receive a file name and output a Json object of the file content.

[2020-04-24 12:07] LiorBanai opened #45 "Add support for reading objects with properties without set methods"
currently System.ArgumentException: 'Property set method not found.'
is thrown.

[2020-04-24 13:54] #41 closed

[2020-04-24 14:07] LiorBanai commented on #41
https://www.nuget.org/packages/HDF5-CSharp/1.10.610.7
should works only also different size rewrites.

[2020-04-24 15:22] LiorBanai commented on #45
fixed

[2020-04-24 15:22] #45 closed

[2020-04-26 09:44] LiorBanai opened #46 "Add Find/search feature"
For datasets of string type add a search capability.

[2020-05-15 14:41] ChasenRanger opened #49 "Jagged Array fails to save"
While attempting to utilize the style in the HDF5-CSharp.Example section, I noticed that this command in flush() for an object:
[code]
fails with an error if the object contains a jagged array (of immutable simple types like ints or bytes in this case). It also silently fails to save the same object if its a List<T[]> of similar types instead of jagged arrays, which is less surprising. The error t

[2020-05-15 15:52] LiorBanai commented on #49
yeah a separate issue for the silent failure is good since the fix for the  failure itself (and for adding  support for different runtime lengths) will be different and may require more work :)

[2020-05-15 16:00] ChasenRanger opened #50 "List silently fails when containing arrays"
When invoking FlushData() (as per example) on an object containing a list, the list is silently ignored.

If the basefile FlushData is made virtual, and the class implements an override FlushData() that forcibly tries to call WriteObject on the List, it throws a different error: "System.Reflection.TargetParameterCountException: Parameter count mismatch."
Here is the call:
[code]
And here is the st

[2020-05-15 16:36] LiorBanai opened #51 "Add support for generic types and unbound collections"
Related to #50 and #49

[2020-05-16 09:24] LiorBanai commented on #49
I gave this a thought and I'm not sure if we should support this kind of scenarios of nested objects  of unbound collections and such (or complex object inside other objects).
I'm not sure the HDF5 format was designed for this kind of hierarchy since you should be able to access the file in a A/B/C.. way and a jagged array may not conforms to this type.

I wonder if the HDF5 Viewer will be able to

[2020-05-16 13:02] #51 closed

[2020-05-16 13:08] LiorBanai commented on #50
I have added support for basic collection (aka List<int> ..)>
In your example, what is _ListOfArrays?

[2020-05-16 20:03] LiorBanai commented on #49
https://github.com/HDFGroup/HDF.PInvoke/issues/58

this is interesting..

[2020-05-17 19:25] LiorBanai opened #52 "Add Ignore option for fields or properties"
Add IgnoreHdf5 attribute or using a similar pattern to JSON.NET's [ShouldSerialize](https://www.newtonsoft.com/json/help/html/ConditionalProperties.htm) methods. Then it can be based on default values or anything else the code wants.

[2020-05-18 14:36] ChasenRanger commented on #50
In the example it would be List<int[]> or List<float[]>, but I encountered the silent discard even when my List was of custom class objects. I do not recall if I tried explicitly calling WriteObject on my List when it was custom class objects.

[2020-05-18 14:42] ChasenRanger commented on #49
That is interesting. A wrapper for that functionality of PInvoke and chunked datasets (for user friendliness) would be very handy for List<T[]> or T[][], at least for the case where T is a primitive (byte, int, uint, double, float, etc). Actually, thinking about it, aren't strings just char[]? I don't know how strings are encoded, so that may not actually help.

[2020-05-19 15:22] ChasenRanger commented on #50
Figured I should edit to add, if I use a custom class (call it MyContainer) to store my array and make a list of those instead, List<MyContainer> still fails with the TargetParameterCountException above using the 610.8 version (fwiw all my previous notes were on 610.7, if that affects anything relevant).

[2020-05-19 16:36] LiorBanai commented on #50
thanks. I am able to reproduce it.

[2020-05-19 17:01] ChasenRanger opened #53 "(Minor) Function throws generic "Exception""
This one is not a bug, and I worry verges on nitpicking; however, similar issues have caused me problems in the past, so I feel inclined to mention it. I noticed that the referenced function (and the one below it) throw the primitive/generic Exception type, which is preferred against in MSDN guidelines ([e.g.](https://docs.microsoft.com/en-us/dotnet/standard/design-guidelines/using-standard-except

[2020-05-19 17:04] LiorBanai commented on #53
or better yet ArgumentOutOfRangeException since we are trying to match a type to a specific range of valid options :)

[2020-05-19 20:24] LiorBanai commented on #50
One option that I consider is for none primitive collections (e.g: list of custom type) a full dump of the object (aka byte[] of the object)  will be written. This will allow to write complex structure to the file but in this situation the h5 viewer will show "garbage" data.

This will allow to write a object to h5 file but it will be readable only by reading it back via the library

[2020-05-19 21:16] ChasenRanger commented on #50
I assume the larger problem comes in how to name/factor the elements into an H5 tree structure if they are themselves classes, not in writing the underlying data (given that any single custom class works fine)?

Assuming that is it, what about an interface or abstract class for custom classes to inherit that would allow for entries to be uniquely named, but otherwise function the same with WriteOb

[2020-05-20 06:50] LiorBanai commented on #50
yeah that is. since those are containers in them self, they are lacking the names o be represented in the h5 structure.

That is one option. going forward I think we should have different formatters for writing. Typeless/contractless will try to write all fields/properties while different mode will write only those with h5 attributes.

Can you give small example  of such interface?

[2020-05-20 07:31] #53 closed

[2020-05-20 07:40] LiorBanai opened #55 "cleanup some compiler warnings"
aka

##[warning]HDF5-CSharp.UnitTests\Hdf5DatasetTests.cs(371,17): Warning CS0219: The variable 'what' is assigned but its value is never used
Hdf5DatasetTests.cs(371,17): warning CS0219: The variable 'what' is assigned but its value is never used [d:\a\1\s\HDF5-CSharp.UnitTests\HDF5-CSharp.UnitTests.csproj]
##[warning]HDF5-CSharp.UnitTests\Hdf5DatasetTests.cs(407,17): Warning CS0219: The variable

[2020-05-21 14:41] ChasenRanger commented on #50
So as it is right now, you can make a class like this:

[code]
If I saved this object at the top level it would look like this:
\
\Patient
\Patient\Firstname (= _firstname)
\Patient\Lastname (= _lastname)

If I wanted to have multiple patients saved at once, I believe I could use WriteObject() to name them uniquely one at a time using the optional groupName argument (otherwise, they use the [Hdf5G

[2020-05-21 21:17] LiorBanai commented on #50
Now I get it. Nice idea! I'll give it a thought how to implement it. I may do it with a GetHdf5ObjectName (or something like that) which will allow to have custom logic for the name.. The base logic could be the name properly for example.

[2020-05-21 21:32] LiorBanai commented on #49
I think, as a short term solution, (for jagged arrays) to add addition attribute (something like Hdf5SerializeMode("Binary")) which in this mode will just write all the data as byte array. That way the end user will be able to use the top level methods to write complex objects.

Down side for this is losing the ability to view it in the h5 viewer.

For arrays of custom types the approach will be t

[2020-05-22 22:01] LiorBanai opened #56 "Read complex object failed due to ignoring Hdf5EntryName attribute option"

[2020-05-22 22:19] #56 closed

[2020-05-25 18:57] LiorBanai commented on #49
The new release, 9, supports bulk write, meaning the data in the list will be written as byte array when it is non primitive (there is new unit test for this). Next week I plan to start working on more Generalized way so the data will also be visible and readable outside c#

[2020-05-26 14:13] ChasenRanger commented on #49
Happy to hear it! I'll test it out.

[2020-05-26 15:19] ChasenRanger commented on #49
The error codes helpfully explained to add the ISerializable and [Serialize()] attributes to the custom class that was being bulk written in the array. I did notice fields being seemingly ignored as well, but that is a separate issue.

[2020-05-26 15:42] LiorBanai commented on #49
You only need the [Serialize()] attribute for the bulk write.
I do want to add the "correct" write in a way that the data is readable in other platforms (h5 viewer - JAVA and python reader for example).

[2020-06-05 06:58] LiorBanai opened #59 "Add Support for writing Jagged Arrays (or any custom object) that is viewable in H5Viewer or readable in other platforms"
right now jagged arrays are being writing as a dump of byte arrays. This mean the data need [serialize] attribute and is only readable by the library itself.

This issues will be used the tracking the implementation of viewable custom data (and jagged arrays) inside H5 files.

related to #49

[2020-06-05 06:58] LiorBanai commented on #49
the full implementation will be handled in #59

[2020-06-05 06:58] #49 closed

[2020-06-26 09:21] #55 closed

[2020-06-26 15:59] #50 closed

[2020-07-15 14:39] marcorestani opened #66 "Problem with ReadDataset"
The function _public static T[,] ReadDataset<T>(long groupId, string name, ulong beginIndex, ulong endIndex)_ works well if the rank of the dataset is 2. If the rank is 3 (or maybe bigger) the function returns an array of zeros (i.e. it doesn't return the values which could be read using _ReadDatasetToArray<T>_ function).
I've solved increasing start, count and offsetOut arrays to 3 dimensions.

[2020-07-15 15:09] LiorBanai commented on #66
Thanks for reporting this.
What is the source data? did  you created it using the library or other platform and just trying to read it back with the library?

[2020-07-16 06:32] marcorestani commented on #66
Hi Lior, I have the problem with satellite data from copernicus services (e.g. https://land.copernicus.vgt.vito.be/PDF/portal/Application.html#Browse;Root=512260;Collection=1000062;Time=NORMAL,NORMAL,-1,,,-1,,)
The files I'm reading contains different datsets: there are rank 1 dataset (e.g. for latitudes and longitudes coordinates) and rank 3 dataset (for measures because each sample is a "point"

[2020-07-16 11:41] LiorBanai commented on #66
Thanks for the info.
I'll check both issues (dimensions and memory)

[2020-07-18 16:29] LiorBanai opened #67 "Add Automatic Nuget publish to Nuget.org"

[2020-07-18 16:51] #67 closed

[2020-07-20 13:00] LiorBanai commented on #66
Hi @marcorestani ,
I'm unable to login/register to the above side to download example file.
Is there a place I can download relevant file?

Regarding the memory issue I'll probably add readSegementOfDataSet so the data could be read in section

[2020-07-20 13:35] LiorBanai commented on #66
I managed to download a file. Will update ..

[2020-08-18 18:03] LiorBanai opened #73 "Add Support for older objects for ReadObject method."

[2020-08-18 18:11] #73 closed

[2020-10-12 16:44] LiorBanai opened #79 "read attributes when reading file structure"

[2020-11-02 14:32] Julian9620 opened #82 "Compound Dataset"
At first, your treeview structure from the hdf file is very nice and  i have been looking for something like this.
Next i want to deserialize a coumpound dataset. The description of this is in the property of the dataset. But i only find exsample code in which you have to know the data block. I don't know it but in the properties there is the description. Is it possible to get that dataset?
I trie

[2020-11-02 14:48] LiorBanai commented on #82
Hi,
the library was designed primary for known objects/structures.
I could try add dynamic reading of file.
Can you share a concrete h5 file for me to try and see how hard/work it to read it back to .net objects?

How would you like the output to look?

[2020-11-02 15:02] Julian9620 commented on #82
Wow, thank you for quick answer.
Unfortunately i cannot send you a h5-file beacause of github. I always show the hdf viewer and the image show you the exsample data. Until now i haven't any correct data so i create it synthetic. Maybe this can help to resolve it.

Also i saw you use reflection to get the properties from groups to know what is in there. Maybe it is possible to transfer to DataSets

[2020-11-02 15:06] LiorBanai commented on #82
can you add the same screenshot but with https://www.hdfgroup.org/downloads/hdfview/#download ?

This will show me more information of the underline data types of the dataset.

[2020-11-02 15:13] LiorBanai commented on #82
BTW, you can also check this project https://github.com/Apollo3zehn/HDF5.NET
it may meet all your needs :)

[2020-11-02 15:23] Julian9620 commented on #82
So here is the new picture of data: Maybe this can help.

In the other project it seems that also know all types in the dataset before i can read it, right?

![image](https://user-images.githubusercontent.com/73472136/97885313-7ba0d500-1d27-11eb-9d87-abcda7883d9f.png)

[2020-11-02 15:27] LiorBanai commented on #82
yeah this picture is better :)
I'll create same structure like file and see if I can parse it back without a backing structure.
I'll try this probably over the weekend and update you..

[2020-11-02 15:33] Julian9620 commented on #82
Thank you so much, i'm looking forward to your answer 😃

[2020-11-02 16:47] LiorBanai commented on #82
@Julian9620, Can you send me to my mail (lior.banai@gmail.com) example file? you can edit any sensitive data with the HDF Viewer.
I have problem creating compound data set with the library so an already created file will help.

[2020-11-03 12:08] Julian9620 commented on #82
Hi, i want to make sure that you get my mail 😄

[2020-11-03 12:13] LiorBanai commented on #82
yeah got it 👍

[2020-11-10 09:29] Julian9620 commented on #82
Hi Lior, i have work with the known structs and it works very well so far. But there i saw that the HdfEntyName of the struct does not work in your tests. The "location1" still be the "location" like the struct field. How about SerializationBinder[https://docs.microsoft.com/de-de/dotnet/api/system.runtime.serialization.formatters.binary.binaryformatter.binder?view=netcore-3.1]?

[2020-11-10 09:33] Julian9620 commented on #82
And to the generic reading of compound datasets: What did you think about a dicttionary with the types? So it means you can go over the porperties of the dataset and save the string name in the key and the type of the row in the value. And back you get the dict and the binary dataset. After that there is a possibility to cast a row stream with the information from the dictionary?

[2020-11-10 09:57] LiorBanai commented on #82
That sound like a bug actually.. Can you point to a specific unit test for me to check this?

Yeah, That is one  idea that I thought about. Was a little busy so have not got to it yet but I do plan to work on it very soon

[2020-11-10 10:04] Julian9620 commented on #82
That`s the UnitTest "WriteAndReadStructs" which takes the wdata2.

This will be very nice 😄

[2020-11-10 18:08] LiorBanai opened #88 "Some code paths do not respect Hdf5EntryName attribute on struct Objects"
see unit test WriteAndReadStructs and WData2 struct with  [Hdf5EntryName("location1")] attribute.

ref #82

[2020-11-13 15:37] #88 closed

[2020-11-15 13:01] kunekainen opened #89 "File Structure Reading Issue"
Hi. Both ReadTreeFileStructure() and ReadFlatFileStructure() methods return null value. Tested with many different files. What can I do?

[2020-11-15 13:13] LiorBanai commented on #89
Hi,
I just tested it  in the existing unit test and it seems fine.
Can you send me example file to check? lior.banai@gmail.com

![image](https://user-images.githubusercontent.com/36262995/99185824-f836a900-2754-11eb-9e8f-62a960dcee1e.png)

[2020-11-15 13:16] kunekainen commented on #89
Thank you very much. Yes I am mailling it right now.

[2020-11-15 13:20] LiorBanai commented on #89
got it. I'll update you later today

[2020-11-15 13:33] LiorBanai commented on #89
I run the TestReadStructure on your file and it does work:
![image](https://user-images.githubusercontent.com/36262995/99186214-96c40980-2757-11eb-8bf7-aadb75c9bbc6.png)

I expanded to test to log errors and print them to console.
can you run the test on your side and check?

What is your environment ?
Which windows version?
.net core/framework?
64/32 bit application?

[2020-11-15 16:35] kunekainen commented on #89
Here it is. It is working with test file (Compiled your source code)

![hdfcstest](https://user-images.githubusercontent.com/41544172/99189795-1bbd1c00-2774-11eb-9a60-414819ea914d.png)

I am using Win10 Pro 64 Bit v2004
.NET 4.7.2
64 Bit App (Any CPU is selected)

I am not an experienced user BTW. I installed HDF5-CSharp via nuget and installed "hdf5-1.12.0-Std-win10_64-vs14" binaries. I did nothi

[2020-11-15 16:44] LiorBanai commented on #89
OK. I'll check a few things and will update you.

[2020-11-15 17:11] LiorBanai commented on #89
try run your code without reference to hdf5-1.12.0-Std-win10_64-vs14. Maybe it is conflicting with my library that already reference 1.10.

[2020-11-15 17:17] kunekainen commented on #89
I actually didn't add hdf5-1.12.0-Std-win10_64-vs14 to the references. When I installed your code from nuget it gave an error that hdf5.dll could not be found. So I just installed hdf5-1.12.0-Std-win10_64-vs14 the setup file. Here is my references:

![hdfcstest](https://user-images.githubusercontent.com/41544172/99191706-73ad5000-277f-11eb-9ac6-00e98ffc9932.png)

[2020-11-15 17:36] kunekainen commented on #89
This is the error I get if I don't install the hdf5-1.12.0-Std-win10_64-vs14:

![err](https://user-images.githubusercontent.com/41544172/99192128-34343300-2782-11eb-903e-108552bd0d12.png)

[2020-11-15 17:39] LiorBanai commented on #89
very strange.
try reference
	<PackageReference Include="HDF.PInvoke.1.10" Version="1.10.610" />
and see if this works

[2020-11-15 17:45] kunekainen commented on #89
Already tried that sir. Result is same.

Your source code and tests work flawlessly. But my solution does not.

If I add your project to my solution and uninstall the nuget package, does it work? What do you think?

[2020-11-15 17:50] LiorBanai commented on #89
it may work but I'm not sure that is the correct approach.
Can you try create new minimal solution/project with the same issue and send me that project?

[2020-11-15 17:53] kunekainen commented on #89
It didn't worked :)

Of course I'll do it.

[2020-11-15 18:19] LiorBanai commented on #89
Ok, I can reproduce the issue with your solution.

I'll investigate later this week and update your.

[2020-11-15 18:40] LiorBanai commented on #89
Ok I have found the issue.
You are missing the runtimes native dll.
Nuget does not work with packages.config [See here](https://stackoverflow.com/questions/56154884/nuget-package-not-copying-native-dlls-on-build).

so first convert it to PackageReference: right click the file and select migrate:

![image](https://user-images.githubusercontent.com/36262995/99193545-69d91c00-2782-11eb-900d-1673dc127

[2020-11-15 19:21] kunekainen commented on #89
Thank you very much for your time and effort. It finally worked.

[2020-11-15 19:22] #89 closed

[2020-12-30 01:52] chowchunkiu opened #94 "NuGet failed to install on .NETFramework v4.6.1"
Hi,

I got the below error when trying to install the package, anything I can do to work around this?  Thank you.

`Could not install package 'HDF5-CSharp 1.11.1'. You are trying to install this package into a project that targets '.NETFramework,Version=v4.6.1', but the package does not contain any assembly references or content files that are compatible with that framework. For more information,

[2020-12-30 06:56] LiorBanai commented on #94
Hi @chowchunkiu ,
the library target .net standard which has partial support in .net framework 4.6.1.
Any reason for you to use 4.6.1?
I can try to add 4.6.1 to the nuget targets and see if it will work if you cannot upgrade to a newer version.

[2020-12-30 09:18] chowchunkiu commented on #94
Hi @LiorBanai ,

Thanks for your quick response, we are using 4.6.1 due to legacy system reason.  So it would be nice if you can add support to .net framework 4.6.1 and I will try again.  Thank you.

[2020-12-30 15:23] LiorBanai commented on #94
@chowchunkiu ,I'll add it over the weekend

[2020-12-30 19:14] LiorBanai commented on #94
Hi @chowchunkiu .
I managed to reference the package in net461.

did you add it manually or via visual studio? if you are using visual studio it add other dependencies that are needed to reference netstand 2.0 in 461:
[code]
do you use packages.config file or packageReference?

for PackageReference you can use:
[code]

[2020-12-31 02:57] chowchunkiu commented on #94
Finally able to install the library via NuGet!  Great thanks @LiorBanai!

[2020-12-31 07:04] LiorBanai commented on #94
Glad I could help @chowchunkiu

[2021-01-02 10:03] LiorBanai commented on #94
I'll close this. If you have other questions /problems please feel free to open new issue

[2021-01-02 10:03] #94 closed

[2021-01-05 06:15] chowchunkiu opened #96 "ChunkedDataset"
Hi,

In the readme example, it shows how to create a new a ChunkedDataset and append dataset to it:

`    // create a dataset and append two more datasets to it`
`    using (var chunkedDset = new ChunkedDataset<double>("/test", fileId, dsets.First()))`
`    {`
`      foreach (var ds in dsets.Skip(1))`
`        chunkedDset.AppendDataset(ds);`
`    }`

What if I close everything and start the applic

[2021-01-05 18:06] LiorBanai commented on #96
I'll check and update you

[2021-01-08 15:36] LiorBanai commented on #96
Hi @chowchunkiu ,

The readme is not up to date.
you can use the AppendOrCreateDataset method to append to existing dataset.
You can look the example test WriteAndReadChunckedDataset2 in File Hdf5DatasetTests

[code]

[2021-01-12 07:44] chowchunkiu commented on #96
Thanks @LiorBanai , I have tried the AppendOrCreateDataset(), it works if I create a new file and do the append.  But when I run it again and open the previously created .h5 file by Hdf5.OpenFile():

[code]

the AppendOrCreateDataset() gives errors like below:

[code]

[2021-01-12 07:49] LiorBanai commented on #96
I'll check. It seems like a bug actually from your description.

[2021-01-13 18:34] RossSmyth commented on #82
Any update on this? I would be interested in this functionality.

[2021-01-14 14:53] LiorBanai commented on #82
being busy later. Will try to get to is soon

[2021-02-02 07:04] LiorBanai opened #103 "Add support for different string encoding (ASCII / UTF8)"

[2021-02-02 18:22] LiorBanai opened #104 "Fix memory leak in read attributes"

[2021-02-02 19:22] LiorBanai commented on #82
Will work on this in the coming weekend.

[2021-02-05 14:49] ChasenRanger opened #107 "Access to filter tools?"
Is there an intention to add the ability to use the filter capabilities of H5Z on datasets, such as the checksum or compression filters? For an example of what I mean, see https://docs.h5py.org/en/stable/high/group.html#h5py.Group.create_dataset which provides optional arguments for Compression, Shuffle, Fletcher32, etc.
I noticed that reading files with filters in place works automatically withou

[2021-02-05 19:43] LiorBanai commented on #107
Hi,
I was not familiar with the H5Z namespace.
From fast reading it does seem to be supported in the underline library so I'll read more and see if it is possible to add it.

[2021-02-05 19:54] ChasenRanger commented on #107
Rereading my post, let me clarify that a file with filters on datasets I created in h5py could be opened just fine in C# with these tools.

[2021-02-05 19:57] LiorBanai commented on #107
yeah got it. But a newly create H5 file in C# (this library) can not set them explicitly right now.

[2021-02-05 20:06] ChasenRanger commented on #107
Exactly right. My own reading leads me to think it won't be something that can be retroactively set; the dataset must be created with the filter. If it can be retroactively set, the file size won't automatically change without a repack.

[2021-02-05 20:13] LiorBanai commented on #107
Correct. But maybe a different conversion tool can recreate those files if needed

[2021-02-23 20:05] ChasenRanger commented on #107
I've looked through h5py and this source a bit more to figure out the mechanism and I've determined two things:
First, the function on line 105 (and particularly line 135 below it) of Hdf5Utils.cs is where the H5D call is, which means adding the filters is perhaps more work than I initially suspected.
Second, I have absolutely no idea how to parse out how certain parameters after trying far too lo

[2021-02-23 20:56] LiorBanai commented on #107
I think it easier than since the H5D.create method for dataset accept additional parameters:
[code]

I haven't tested it yet but this may enable it (or variation of this code example).

[2021-02-27 16:36] DomenicoGaudioso opened #113 "read file hdf5"
Hi, sorry for the inconvenience but I have a question.
i am a python user and i have red hdf5 files with h5py. I am now working within .net environment and I am looking to use your library with IronPython.
I would like to understand how can I get a specific data within the database and how to get access to the different trees.
Any help are super appreciated.

I leave you an example of how I access

[2021-02-27 16:41] LiorBanai commented on #113
Hi @DomenicoGaudioso ,
Basically you create a .net class that represent your dataset.
few questions:
1. Are you looking to read the entire file or only specific datasets? if specific dataset please write which one so I will check the dataset.
2. is the file structure always the same or is it dynamically create at runtime?
3. Do you need to modify it  or just read back in .net?

[2021-02-27 16:54] DomenicoGaudioso commented on #113
thanks for the immediate response, I answer your questions.
1. I am trying to read a specific set of data.
in particular, with python it is as if it were a dictionary so what I do is this:

f = h5py.File(r'C:\recorder.hdf5','r')
dset = f['MODEL_STAGE[1]']['MODEL']['NODES']['COORDINATES'][1]
*in the square brackets you see the opening keys I used to find my dataset
2. the file structure is more or

[2021-02-27 17:33] LiorBanai commented on #113
Then it is very easy:
You first can set some error handling:
[code]

then you create a class that represent your data:

[code]
and the you just read it:

[code]

the result is matrix of 1817,3 (in tihs case):
![image](https://user-images.githubusercontent.com/36262995/109394981-9cbeae80-7932-11eb-96f2-6f1b6aa9c618.png)

[2021-02-27 17:45] #103 closed

[2021-02-27 18:21] LiorBanai commented on #44
closing for now. not a lot of benefit

[2021-02-27 18:21] #44 closed

[2021-02-27 18:21] LiorBanai commented on #46
closing for now. not a lot of benefit

[2021-02-27 18:21] #46 closed

[2021-02-27 18:45] Marco-Pellegrino commented on #113
Thanks @LiorBanai!
it looks like that it is possible to read the data! Amazing

Do you have any experience with IronPython?
Me and @DomenicoGaudioso need to translate what you have written in C# for IronPython and It would be amazing if you already know the answer.

[2021-02-27 19:29] LiorBanai commented on #113
not sure why you need IronPython with this. IronPython is an implementation of the Python programming language targeting the .NET Framework and Mono. This means you are already running under .net so you can use the code I wrote above.
If you want to run python inside .net (Iron Python) then it is no clear to me why you cannot use python  h5 code to read it. You basically run python inside .net if

[2021-02-27 19:44] Marco-Pellegrino commented on #113
We are writing a plug-in for a software where it is possible to write with C# or IronPython 2.7 and me and Domenico are familiar with python.
I was thinking that h5py was using numpy under the hood but I could be wrong and numpy is not available for ironPython 2.7 and this is the reason for use your library.

[2021-03-01 17:26] ChasenRanger opened #114 "Cannot Edit Attributes?"
Calling WriteAttribute() works perfectly well when creating a new one in a file, but attempting to change them later with WriteAttribute() leads to the following error:
![image](https://user-images.githubusercontent.com/48223850/109533716-888cc580-7a88-11eb-9944-90d70afbf3bd.png)

I figured I would try to delete them first, but I can't figure out how to do that, either. Although, since HDF5 doesn'

[2021-03-01 21:59] LiorBanai commented on #114
I think the entire library needs Refactor in regard to updating existing files. I think the standard use cases are fir creating /reading files and not modify them.. Usually user are creating h5 files in Python it seems and the try to read in c# and vice versa..

I do think a support for editing will add value. Maybe add file use mode (create/edit /read) in the hdf5 settings class

[2021-03-02 14:34] ChasenRanger commented on #114
To add some extra notes: I have not noticed errors such as the above happening when overwriting datasets, and can confirm they are overwritten correctly as well.

Adding a create/edit/read mode would be useful and consistent with other file streams, including Python as you mentioned. In that vein, converting to a more .net IOStream-like object could be useful, but I think it would be a lot more wo

[2021-03-02 21:19] LiorBanai commented on #114
For datasets I actually wrote specific code to enable overriding existing data 🙂.

I think I should do the same for all types with the create/read only /edit modes as flags..

[2021-03-03 17:46] Marco-Pellegrino commented on #113
Hi @LiorBanai
I have manage to translate your code in C# and it works!
Thanks.
How would you read the DISPLACEMENT for different time step with your approach?
Step_0
Step_1

![image](https://user-images.githubusercontent.com/53620289/109848692-72c5fe80-7c48-11eb-84c4-1e766fbd423a.png)

Thanks,
Marco

[2021-03-03 18:14] LiorBanai commented on #113
Hi @Marco-Pellegrino ,
Glad to hear you managed to use the library.
for the different steps dataset I would use something like this:
[code]
and read it:

[code]

In the future I'll add option to read it dynamically without needing to specify each name (step_0, step_1) so you could  read wit hsingle step_+number

[2021-03-06 21:07] LiorBanai opened #117 "Add Interface to allow specifying the hdf5 Name dynamically"

[2021-03-07 21:28] DomenicoGaudioso commented on #113
Hi @LiorBanai , I'm sorry but I'll ask you another little question.
How would you read this data? I'm having trouble getting into '53 -UnknownMovableObject [201: 0] '.
Thanks for the help.

Best

![image](https://user-images.githubusercontent.com/43296235/110255403-ccedf900-7f93-11eb-9bef-5632ce0d711f.png)

[2021-03-07 21:53] LiorBanai commented on #113
I'll add in the coming weekend a generic Mathis to read and 2d matrix so you will be able to use same object for all your matrices. It will simplify your usage.

[2021-03-07 22:09] DomenicoGaudioso commented on #113
thanks, you are the best.

[2021-03-12 13:36] LiorBanai commented on #114
it was also easy to add support for overriding attributes in the current design so I have added it . Still I plan to do the new design in the near future. :)

[2021-03-12 13:36] #114 closed

[2021-03-16 23:07] DomenicoGaudioso commented on #113
Hi Liron, did you add something that suits us? thanks for the help

[2021-03-17 07:08] LiorBanai commented on #113
no yet, bein busy.
will do it tomorrow or the day after

[2021-03-20 11:53] LiorBanai commented on #113
Ok, so I created new method to read tabular data.
the way to use it is follow:
1. open the file using ``` fileId = Hdf5.OpenFile(filename, true);```
2. Specify the path to the groupname and open it: ```  var groupId = Hdf5.CreateOrOpenGroup(fileId, groupName );```
3. Read the data in T[,] using the name of the dataset: ``` var tableOfData = Hdf5.Read2DTable<double>(groupId, "STEP_0"); ```

[code]

[2021-03-20 11:55] LiorBanai commented on #113
The data will be in public property inside the tableOfData class (you can ignore the other null property inside):
![image](https://user-images.githubusercontent.com/36262995/111868654-e3c52000-8983-11eb-8732-7d0b477f4554.png)

[2021-03-21 09:47] DomenicoGaudioso commented on #113
Thank you so much,  I'll try it these days.

[2021-03-22 13:35] LiorBanai opened #122 "protect against write of empty Arrays"

[2021-03-22 15:07] #122 closed

[2021-03-27 11:06] svenrog opened #125 "System.NullReferenceException in Hdf5.ReadStringAttributes"
When trying to load model weights exported from Python Tensorflow 2.5.0 (ISR RDN) a `System.NullReferenceException` is thrown while reading `'layer_names'` at `Hdf5Attributes.cs:134`. It looks like the pointer fails to resolve inside `Marshal.ReadByte`.

The local variable `count` is 124 although the length of the list presented inside HDFView is 414.
![image](https://user-images.githubusercontent

[2021-03-27 13:46] LiorBanai commented on #125
Hi, I cannot access the file. getting:
"You need access
Ask for access, or switch to an account with access. Learn more"

[2021-03-27 13:51] svenrog commented on #125
I've adjusted access to the file. Hope it works better now.

[2021-03-27 13:54] LiorBanai commented on #125
yes, I managed to download it. Will check and update you

[2021-03-28 20:14] LiorBanai commented on #125
Hi @svenrog, I have managed to read the attributes:
![image](https://user-images.githubusercontent.com/36262995/112766552-fb9f4280-901a-11eb-9992-d859a88d4d80.png)

please make sure to use the latest version and specify the following attributes:
![image](https://user-images.githubusercontent.com/36262995/112766586-28535a00-901b-11eb-868d-ec692576f7cb.png)

[code]

[2021-03-28 21:53] svenrog commented on #125
Thanks for the help. I'll bump this over to the Tensorflow.Net repo where that code resides.

[2021-03-28 21:54] #125 closed

[2021-03-28 22:23] LiorBanai commented on #125
What do you mean by "I'll bump this over to the Tensorflow.Net repo where that code resides."?

[2021-03-28 22:50] svenrog commented on #125
I was just talking about the dependencies of the packages I'm using in my project.
![image](https://user-images.githubusercontent.com/397214/112770754-77ec5280-9028-11eb-999e-991c443354f8.png)

The SciSharp-guys are using a forked version of your code, so I figured I'd post my question here.
https://github.com/SciSharp/HDF5-CSharp

[2021-03-29 07:24] LiorBanai commented on #125
Ah I see 🙂

[2021-04-01 10:04] YamingZ opened #126 "Can We write a Attribute as Array type?"

[2021-04-02 12:07] LiorBanai commented on #126
You meana attribute which is array of some type (string, int, etc)?

[2021-06-22 13:23] ChasenRanger opened #134 "Attribute Read Error"
While trying to read an attribute, I encountered a System.AccessViolationException: 'Attempted to read or write protected memory. This is often an indication that other memory is corrupt.'

The attribute in question was written using OpenCV, using the AtWrite() command to write a string, e.g. 'AtWrite("test", "test")'. OpenCV can successfully read the attribute back with "AtRead", as can h5py. I d

[2021-06-23 15:01] LiorBanai commented on #134
Can you attach example file for debugging?

[2021-06-23 15:25] ChasenRanger commented on #134
I had to zip it to send it but here is an example .h5 file with a singular attribute called "test" with value "test" written using the openCV command AtWrite("test", "test"), which I verified does read back in h5py from the root directory.

[attestex.zip](https://github.com/LiorBanai/HDF5-CSharp/files/6703081/attestex.zip)

I've included the exact h5py code I used below:
[code]

[2021-07-09 18:09] LiorBanai commented on #134
Very strange. I don't understand for now what is the issue.
https://github.com/Apollo3zehn/HDF5.NET able to read the file so I'll check how it does so :)

[2021-07-16 13:34] matthiasploner commented on #134
Hello I may have the same problem with the AccessViolationException, but it only occurs with attributes of fixed length. However, the Hdf5 viewer of the Hdf group displays the data and the API of Apollo3zehn can read the attributes.
The Hdf5 file is generated by another software.
I tried to write attributes with fixed length by changing the function WriteStringAttributes, but this did not work. Ne

[2021-11-15 12:18] Fokatu opened #163 "1 how to write attribute for a dataset; 2 how to list attributes of a group"
1 how to write attribute for a dataset; 2 how to list attributes of a group

Thanks!

[2021-11-18 12:44] LiorBanai commented on #163
Hi,
You cna use the following example:
[code]

where the relevant part are :
[code]

![image](https://user-images.githubusercontent.com/36262995/142417685-d6077693-d969-4249-8fdd-059138a4c726.png)

[2021-11-18 12:46] LiorBanai opened #164 "Add NET6 support"

[2021-11-18 12:54] LiorBanai commented on #164
added

[2021-11-18 12:54] #164 closed

[2021-11-21 04:53] marksimer commented on #163
@LiorBanai  ,I have the same qustion, how to list attributes of a group/file/dataset?
I noticed the **Hdf5.ReadAttribute** function, but I don't know how to use it?

[2021-11-21 07:26] LiorBanai commented on #163
Hi @marksimer ,
you jsut need to pass the id of group/file/dataset of the element that has the attribute and the attribute name (like the example above)

[2021-11-21 07:30] Fokatu commented on #163
the function "Hdf5.ReadAttributes<DateTime>(groupId, "times");" needs "<DateTime>", what if we donot know this param, i.e., how to read a hdf5 createa by others

[2021-11-21 07:40] LiorBanai commented on #163
do you have the hdf5view?
use it to see the element name (like test in the screenshot above)
the open the file:
[code]
open the group:
[code]
and read the data:
[code]
the type depends on your data type.

[2021-11-21 07:41] LiorBanai commented on #163
if this does not work please share your file

[2021-11-21 07:44] Fokatu commented on #163
Yes, I do have hdfview. But is it possible for HDF5-CSharp to return the datatype? What I want is the function that the hdfview provides, i.e., parse the hdf5 file and list all the attributes.

[2021-11-21 08:57] marksimer commented on #163
[hdf5_test.zip](https://github.com/LiorBanai/HDF5-CSharp/files/7575947/hdf5_test.zip)

Hi @LiorBanai ， Maybe still need your help ,I follow your method to get the attribute, and still return null
Attach my code and h5 file

`            string filename = @"C:\Users\MLX\AppData\Local\HDF_Group\HDFView\app\samples\hdf5_test.h5";
            //get the attribute of file
            var fileid = Hdf5.O

[2021-11-21 09:23] LiorBanai commented on #163
@marksimer  I'll check and update you.

Currently there isn't one method to get all the attributes of the file.

[2021-12-20 17:30] Tomes14 opened #167 "ReadFlatFileStructure / ReadTreeFileStructure"
Hi,

I couldn't read the FileStructure but reading the Groups and Datasets work fine. On debugging your code.
It throw an exception on a group with many attributes. (An attempt was made to read or write to protected memory. Often times, this is an indication that other memory is damaged.) It's thrown on H5A.iterate!

`            int Callback(long elementId, IntPtr intPtrName, ref H5L.info_t info,

[2021-12-20 18:01] LiorBanai commented on #167
Thanks! I'll check this out🙂

[2021-12-21 17:51] LiorBanai opened #168 "ReadFlatFileStructure / ReadTreeFileStructurefails when non string attributes exists in files"
a better/generic solution needs to be implemented to read attributes without knowing its type first.

[2021-12-21 17:51] LiorBanai commented on #168
related to #167

[2021-12-21 17:53] #168 closed

[2022-02-26 15:07] LiorBanai opened #175 "Fix attribute encoding."

[2022-02-26 15:12] LiorBanai commented on #175
fixed in 7855fdc36109b12d128a12bd4e455c2a353f31e8

[2022-03-01 13:11] LiorBanai opened #176 "[Kama Research] - Add support for individual datasets flushing of data."

[2022-03-01 13:13] #176 closed

[2022-03-13 16:49] LiorBanai opened #179 "Fix the case when the dataset is too big"

[2022-03-13 17:18] #179 closed

[2022-03-16 08:29] LiorBanai opened #180 "Support large compound lists [WIP]"

[2022-03-17 20:17] LiorBanai opened #181 "Create ChunkedCompound writer/reader"

[2022-03-22 10:59] #181 closed

[2022-05-11 08:43] LiorBanai opened #188 "[Chunked Compund] add check of empty data to write"
could corrupt the data

[2022-05-11 08:46] #188 closed

[2022-05-15 17:34] Fokatu commented on #163
Hi，LiorBanai， is it possible to get all the attibutes of a file or a dataset now? Thanks!

[2022-05-16 11:13] LiorBanai commented on #163
Hi @Fokatu ,I forgot about this.
I'll see what Ican do over the weekend and update you

[2022-05-18 12:17] LiorBanai opened #192 "[BUG] chunked Compound size is incorrect."

[2022-05-18 12:20] LiorBanai commented on #192
fixed with #191

[2022-05-18 12:21] #192 closed

[2022-05-18 12:21] LiorBanai opened #193 "Update version to 1.13.2"
with fix #192

[2022-05-27 22:46] Fokatu commented on #163
It is better to get the value at the same time.
Is it possible to obtain the data in the folliowing image? i.e., get the attribure name, type, size, and value at the same.
Thanks!
![image](https://user-images.githubusercontent.com/25919117/170797561-bd898c44-6b0e-4786-9c40-d6967643b9fa.png)

[2022-05-28 08:58] LiorBanai commented on #163
Not sure how easy it is to read all data without the user specifying the data type but I'll check 🙂

[2022-06-17 07:32] LiorBanai opened #196 "Add Readme to Nuget"
https://devblogs.microsoft.com/nuget/add-a-readme-to-your-nuget-package/

[2022-06-19 17:49] Fokatu opened #197 "When there are Chinese characters in the file path, an exception is thrown"
It seems to be an issue with the Hdf5 version, I'm also having that issue when using other libraries. Is it possible to upgrade the version of Hdf.pinvoke?

sample code:
`            var fid = Hdf5.CreateFile("f:/测试/test5.h5");
            Hdf5.CloseFile(fid);
`

[2022-06-19 19:02] LiorBanai commented on #197
Hi,
I'm able to create the file using the following code:
[code]

![image](https://user-images.githubusercontent.com/36262995/174496503-179dbebc-3bfd-4908-9dea-c87466bb1278.png)

[2022-06-19 19:02] LiorBanai commented on #197
I can add the CreateDirectory internally.

[2022-06-19 19:18] Fokatu commented on #197
Thanks for your reply!
Very strange, the files I created are displayed as garbled characters in explorer.

`var fid = Hdf5.CreateFile("f:/test测试.h5");

            Hdf5.CloseFile(fid);`

![image](https://user-images.githubusercontent.com/25919117/174496993-27644f60-c66c-4b3f-9ba6-38795ad80759.png)

My system: Windows 10 pro

[2022-06-19 19:25] LiorBanai commented on #197
@Fokatu could it be fonts related issue on your system?
it looks ok here:
![image](https://user-images.githubusercontent.com/36262995/174497221-e4dd2fdc-081f-4c82-b75d-8fc59846e1c1.png)

[2022-06-19 19:27] Fokatu commented on #197
No， the system shows chinese correctly
![image](https://user-images.githubusercontent.com/25919117/174497288-a11adf85-b333-407a-9c11-9b67f8fff224.png)

[2022-06-19 19:30] LiorBanai commented on #197
which .net version are you using?

[2022-06-19 19:31] Fokatu commented on #197
.net 4.7.2

[2022-06-19 19:42] Fokatu commented on #197
Chinese characters in group name are also garbled
![image](https://user-images.githubusercontent.com/25919117/174497757-ef46e5d0-4fd0-45bc-a53c-8862db3727d9.png)

[2022-06-19 19:44] LiorBanai commented on #197
there are some reports of this.
Maybe this could help:
https://superuser.com/questions/1166350/unicode-characters-being-replaced-by-question-marks-after-copy-and-paste-on-wind

[2022-06-20 08:13] Fokatu commented on #197
The problem is solved by checking the following option
![image](https://user-images.githubusercontent.com/25919117/174556289-64edb091-e0ed-41b1-b800-dae82a0a4bd9.png)

[2022-06-20 08:42] LiorBanai commented on #197
glad you found  the solution

[2022-06-20 15:41] LiorBanai commented on #167
Hi, @Tomes14 ,
a fix for ReadStructure should be ready in the coming days. FYI

[2022-06-20 15:42] LiorBanai commented on #163
@Fokatu ,
a fix for reading all attributes should be ready in the coming days. FYI

[2022-06-21 07:40] Fokatu commented on #163
Great!

[2022-06-21 11:28] LiorBanai opened #199 "[Logging] respect Enable Global logging field when calling log"

[2022-06-21 11:38] LiorBanai opened #200 "[Breaking Change] Add Hdf5ReadWriteAttribute to handle only read/save or both"

[2022-06-21 11:49] #199 closed

[2022-06-21 12:14] Tomes14 commented on #167
fine thank you!!!

[2022-06-25 13:32] LiorBanai commented on #134
I know it is late but in the coming days I'll release new version that is able to read all the attributes with the
Hdf5.ReadFlatFileStructure/Hdf5.ReadTreeFileStructure methods

[2022-06-27 16:00] Marco-Pellegrino opened #201 "Read Attributes"
Hi @LiorBanai !
thanks for working on such helpful tool!
I have successfully manage to read an .hdf5 file but I am currently facing an issue.

[code]
The code works but I am currently thinking if there is a better way to solve the problem.
My issue is that the number of `STEP` are not pre defined and they can get really big. How would you suggest to solve the problem?

Creating 1000 times the foll

[2022-06-27 16:17] LiorBanai commented on #201
Hi @Marco-Pellegrino ,
Interesting use case. Give me few days to think about a generic/elegant  option to read such a file. Maybe ReadAllDatasetWithName(..)...

[2022-06-27 16:23] LiorBanai commented on #79
handled in other issues

[2022-06-27 16:23] #79 closed

[2022-06-27 16:53] LiorBanai opened #202 "TabularData class Name is null on every results"

[2022-06-27 17:01] #202 closed

[2022-06-27 17:05] LiorBanai commented on #200
added in https://www.nuget.org/packages/HDF5-CSharp/1.13.5.3-RC

[2022-06-27 17:05] #200 closed

[2022-06-28 08:55] Marco-Pellegrino commented on #201
thanks @LiorBanai !!!
it is already enough what you have showed me :)
don't worry in creating a better/elegant way

[2022-06-28 16:38] LiorBanai commented on #201
Glad it helped you 🙂

[2022-06-28 19:15] Marco-Pellegrino commented on #201
Hi @LiorBanai
Do I need to do something particular to close the file?
Do I need also to close the group?

`Hdf5.close()` is enough?

[2022-06-28 19:36] LiorBanai commented on #201
just call
Hdf5.CloseFile(fileId);

[2022-06-29 05:37] Marco-Pellegrino commented on #201
Is there a way to see if the file has been closed?

I have tried to "manually" delete the file after calling the method but with no success because "the file is still open in your application"

[2022-06-29 06:16] LiorBanai commented on #201
I'll check. if the file still in use after calling Hdf5.CloseFile(fileId); then it is a bug mostly likely

[2022-06-29 07:02] Marco-Pellegrino commented on #201
The following approach `close` the file as expected.
I always make sure to close the file in case of exception with `try `and `catch`.
It seems to be a bug

[code]

[2022-06-29 07:22] LiorBanai commented on #201
I'm able to reproduce it . Will update soon :)

[2022-06-29 07:23] LiorBanai commented on #201
@Marco-Pellegrino Thanks for the Kofi donation!

[2022-06-29 07:54] LiorBanai commented on #201
@Marco-Pellegrino  small question,
did you use my example above?
if so try adding the following coed before callnig close file:
[code]

full example:

[code]

[2022-06-29 07:56] LiorBanai opened #206 "track open handles and auto close when calling CloseFile(fileId)"
related to Read Attributes #201

[2022-06-29 08:18] Marco-Pellegrino commented on #201
thanks @LiorBanai !

I have went through my code and I have finally spotted the issue.
I was reading a different group before closing the previous.

I am working on this little app and reading the hdf5 file was required.
https://alpaca4d.github.io/

thanks a lot :)

[2022-06-29 08:22] LiorBanai commented on #201
Great! and you gave me idea to close all opened handles when calling close so there won't be leaks if someone forget to close manually.

[2022-06-29 10:36] LiorBanai commented on #201
Why do you need to read h5 for that app? 🙂

[2022-06-29 13:59] Marco-Pellegrino commented on #201
Glad that I have managed to give you some feedback!

The FEA solver that I am currently using return an HDF5 file format which apparently is really fast to read and write.
The reason for the DotNet HDF5 is because I am building a tool for visual programming which required DotNet.

Your supervision made this possible as well

[2022-06-29 14:42] LiorBanai opened #207 "[Breaking Changes] change AllowMultiple of AttributeUsage to false for Hdf5SaveAttribute,Hdf5EntryNameAttribute"

[2022-06-29 14:43] LiorBanai opened #208 "[Breaking Changes] add obsolete on Hdf5SaveAttribute"
the recommended attribute is Hdf5ReadWriteAttribute

[code]

[2022-06-29 18:39] #207 closed

[2022-06-29 18:44] LiorBanai commented on #113
I knew I remember the step_X data :)
this the same as https://github.com/LiorBanai/HDF5-CSharp/issues/201 so closing this one :)

[2022-06-29 18:44] #113 closed

[2022-06-29 18:47] LiorBanai commented on #52
Added Hdf5ReadWriteAttribute to handle only read/write or both

[2022-06-29 18:47] #52 closed

[2022-06-29 18:49] LiorBanai commented on #66
Staled issues. please reopen if still needed

[2022-06-29 18:54] LiorBanai commented on #82
Hi, is this still relevant?

[2022-06-29 18:55] LiorBanai commented on #96
Hi,
I know this is old. Is the issue still relevant  for you?

[2022-06-29 18:56] LiorBanai commented on #126
Staled issues. please reopen if still needed

[2022-06-29 18:56] #126 closed

[2022-06-29 19:26] #208 closed

[2022-06-29 19:29] #196 closed

[2022-06-30 11:12] #201 closed, assigned to nobody

[2022-07-01 13:44] LiorBanai commented on #167
There were many changes/fixes in latest version
https://github.com/LiorBanai/HDF5-CSharp/releases/tag/V1.14.0

You can give it a try if report problems/issues.
Please create new issue if problem persist.

[2022-07-01 13:44] #167 closed

[2022-07-01 13:45] #163 closed

[2022-07-01 13:45] LiorBanai commented on #134
There were many changes/fixes in latest version
https://github.com/LiorBanai/HDF5-CSharp/releases/tag/V1.14.0

You can give it a try if report problems/issues.
Please create new issue if problem persist.

[2022-07-01 13:45] #134 closed

[2022-07-01 13:46] LiorBanai commented on #96
closing. please reopen if needed.

Also,
There were many changes/fixes in latest version
https://github.com/LiorBanai/HDF5-CSharp/releases/tag/V1.14.0

You can give it a try if report problems/issues.
Please create new issue if problem persist.

[2022-07-01 13:46] #96 closed

[2022-07-01 13:51] LiorBanai opened #210 "Add NET6 compilation trarget to csproj"

[2022-07-01 13:52] #210 closed

[2022-07-05 12:42] LiorBanai opened #211 "don't try to open group if it does not exist"

[2022-07-05 12:44] #211 closed

[2022-07-05 12:46] LiorBanai opened #212 "Add Throw if not exists boolean flag"

[2022-07-05 18:03] LiorBanai opened #213 "[NET6+] Add support for DateOnly & TimeOnly"

[2022-07-05 19:10] LiorBanai opened #214 "OpenAttributeIfExists Tries to open dataset instead of attribute"

[2022-07-05 19:15] #214 closed

[2022-07-10 09:33] LiorBanai opened #215 "[BUG] Compound struct - missing memory release"

[2022-07-10 09:35] #215 closed

[2022-07-13 10:59] gaschd opened #216 "Nullable support for "ReadObject""
Thanks for providing and maintaining this library @LiorBanai !

When using a class with nullable properties

[code]
Read object will ignore any values in the nullable properties:
[code]

WriteObjects takes this into account and constructs a h5-file containing three non-null datasets (TestBooleanNonNull, TestBooleanNull, TestBooleanNullableNonNull). I can view them with the HDF5 Viewer.
It seems li

[2022-07-13 13:12] LiorBanai commented on #216
Hi @gaschd . This seems like a bug. I'll check this over the weekend

[2022-07-13 15:42] LiorBanai commented on #216
I have a potential fix.

[2022-07-13 16:18] LiorBanai opened #217 "V1.15.0"
- Nullable support for "ReadObject" #216

[2022-07-13 16:20] #217 closed

[2022-07-13 16:29] LiorBanai commented on #216
https://www.nuget.org/packages/HDF5-CSharp/1.15.0

I have release new version with the fix for this.
Please give it a try and see if this solves your issue :)

[2022-07-13 17:00] LiorBanai opened #219 "Add Support for Reference Nullable Types"

[2022-07-13 18:04] #219 closed

[2022-07-14 05:15] LiorBanai commented on #107
@gaschd I don't completely understand what you are asking. Do you mean re write existing dataset?

[2022-07-14 07:25] gaschd commented on #216
15.1 works for this case, great!

I did another test with nullable structs.
It seems like it currently completely ignores nullable structs during read and just initializes them with default values, when they should be either null or with initialized values:

Data
[code]

Test
[code]

[2022-07-14 07:37] LiorBanai commented on #216
will check soon

[2022-07-14 07:37] LiorBanai commented on #216
btw I added test project In VB to the repo. I'll add this case

[2022-07-14 08:42] LiorBanai commented on #216
Ok I have a fix for this case.
will release new version later today

[2022-07-14 14:51] LiorBanai opened #224 "Memory increased"
### Discussed in https://github.com/LiorBanai/HDF5-CSharp/discussions/222

<div type='discussions-op-text'>

<sup>Originally posted by **EricVision** July 14, 2022</sup>
HI  LiorBanai：
      Thank you for Reading!
      I Have a problem need your help.
     The problem is when i use  the function of "Hdf5.ReadObject", my computer memory will be occupied more and it will not down.  Could you give m

[2022-07-16 17:46] LiorBanai commented on #117
not really needed at the moment

[2022-07-16 17:46] #117 closed

[2022-07-16 17:56] LiorBanai commented on #82
closing. please reopen if still needed

[2022-07-16 17:56] #82 closed

[2022-07-23 14:20] LiorBanai commented on #224
missing ```H5P.close(propId);``` call

[2022-07-23 14:30] #224 closed

[2022-08-01 13:41] gaschd commented on #216
Seems to be fixed, thanks!

[2022-08-02 12:44] LiorBanai commented on #216
glad to hear :)

[2022-08-03 08:36] #216 closed

[2022-08-03 11:49] gaschd commented on #107
I think in order to use filter tools, a chunked dataset is needed.  Currently arrays with "WriteObject" are always continious memory.

So I'd suggest to introduce an attribute to indicate that.

[code]

If the attribute has also filters like shuffle and deflate defined, they could be applied when creating the chunked dataset, without the need of converting them.

[2022-08-03 12:50] PhilPJL commented on #206
Can I suggest you make handles disposable as I've done in my limited H5 implementation?
https://github.com/PhilPJL/HDF5Test.

[2022-08-03 12:59] LiorBanai commented on #206
@PhilPJL Interesting!
thanks for sharing

[2022-08-03 16:22] LiorBanai commented on #107
@gaschd now I'm understand. :)
I'll see when I can implement this.

[2022-10-05 21:42] cloud-rocket opened #235 "NuGet installation issue"
I am running into the following issue while installing the library on VS2022, .NET 4.8 project:

[code]

Any ideas?
Thanks

[2022-10-06 06:52] LiorBanai commented on #235
Hi @cloud-rocket . this is very strange, I'm able to run restore of the nugets on my side and everything is running ok...
just for a test can you target different compilation?

[2022-10-07 09:57] Fokatu commented on #197
After further testing, I found that the latest version of HDF.PInvoke does not support Chinese, but the lower version does. Is it OK to downgrade the version of this library? HDF.PInvoke 1.10.5.2 works fine.
Also, how do I compile the .net framework version of the library? Thanks!

[2022-10-08 07:10] LiorBanai commented on #197
hi @Fokatu ,
I more incline to have he issue itself fixed rather than downgrade the vresion.
if this an bug with the underlining library why not open an issue in their repository to let them be aware of it?

[2022-10-23 20:15] brechtvb opened #236 "Support ReadOnlySpan<T> and ReadOnlyMemory<T>"
Would it be possible to support

ReadOnlySpan<T>
ReadOnlyMemory<T>
ReadOnlySpan2D<T>
ReadOnlyMemory2D<T>

to write data as overload on the functions that supports Array currently?

Preferrably without any allocation.

It might require unsafe { } and creating an IntPtr from that.

[2022-10-24 12:01] LiorBanai commented on #236
Hi @brechtvb I can see the added value for this.

[2022-10-24 15:01] brechtvb opened #237 "Support System.Numerics.Complex"
Is it possible to support System.Numerics.Complex

Today that has to be done through a `[float float]` compound, correct?

[2022-10-24 15:16] LiorBanai commented on #237
@brechtvb , Yeah I don't think H5 data type has native complex type. It will have to be split into 2 fields.

[2022-10-24 15:20] LiorBanai commented on #237
https://mathematica.stackexchange.com/questions/63983/hdf5-and-complex-numbers

[2022-10-24 16:07] brechtvb commented on #237
Indeed, there is no other way.

An ugly hack could be provided through issue #236:

[code]

[2022-10-27 14:35] #235 closed

[2022-11-09 13:30] LiorBanai opened #247 "Add NET7 compilation target"

[2022-11-09 13:41] #247 closed

[2022-11-11 12:21] LiorBanai opened #248 "Hdf5.WriteCompounds is missing the write attributes"
### Discussed in https://github.com/LiorBanai/HDF5-CSharp/discussions/246

<div type='discussions-op-text'>

<sup>Originally posted by **flappah** November  8, 2022</sup>
I see the method WriteCompounds accepts a dictionary of attributes. I was hoping this would give me the option to add an attribute to the array that is being written. However nothing is being done with the attribute I supply. Whe

[2022-11-11 15:34] #248 closed

[2022-11-14 11:14] Fokatu opened #249 "File close problem"
Below is the test code
[code]
The problem is even if I close the file with "Hdf5.CloseFile(fid);", I can not delete the file which means that the file is still in use.
The file can only be deleted when the program is terminated.

[2022-11-14 11:23] LiorBanai commented on #249
@Fokatu
Yeah seems so like not all handles are closed.
I'll fix this week.
Thanks for reporting.

[2022-11-18 07:42] LiorBanai commented on #249
Hi @Fokatu
I have fixed the issue. Please not that the default methods won't close the last group as the user may want to use it.
you will need to do:

[code]

I have also added overload that can be used to closed it internally:

[code]

[2022-11-18 07:43] LiorBanai commented on #249
Will release new version later today.

[2022-11-18 07:59] #249 closed

[2022-11-21 12:47] Fokatu opened #250 "how can I compile the project for .net framework 4.8?"
Thanks!

[2022-11-21 13:07] LiorBanai commented on #250
Hi @Fokatu . The project is already compiled in. Net standard 2.1\2.0 which is consumable by net 4.8

[2022-11-21 17:32] Fokatu commented on #250
Thanks, @LiorBanai .
I have another question. How can I implement a function like this?
[code]
The array could be 1 dimensional, and the dataset's dim is determined by the last parameter.
The efficiency of my implementation is too low.
[code]

[2022-11-25 06:42] LiorBanai commented on #250
Hi @Fokatu I don't really understand what you are trying to achieve here.  Are there missing functionality in the library  in the library (write 3d array for example)?

[2022-11-25 08:29] Fokatu commented on #250
I want to write a1D dataset `Array array` to file, but set the dims of the array with different parameter, i.e., dims.

[2022-11-25 11:33] LiorBanai commented on #250
I'm not sure what is the use case for creating array with different size from the actual written number of elements. it will have empty values in other indexes. Also not sure what will be the output file and if it won't be corrupted

[2022-11-25 12:49] LiorBanai commented on #250
You can always copy the existing method the create the file and modify it to see if it works